

<style>
      .example-wrapper { margin: 1em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

<div class="example-wrapper">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Acceuil</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/info/nain/mine">Information</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/taille/moyenne">TailleMoyenne</a>
    </li>
    
  </ul>
</nav>





