{% extends 'base.html.twig' %}

{% block title %}
  Taille moyenne d'un nain dans une mine
{% endblock %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 1400px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div class="example-wrapper">
    <table class="table" style ='border:3px solid blue'>
      <thead>
        <tr>
          <th scope="row" style ='text-align:center'>La taille moyenne d'un nain pour chaque mine</th>
          <th scope="row"></th>
        </tr>
        <tr>
          <th scope="row">Nom</th>
          <th scope="row">Taille moyenne</th>
        </tr>
      </thead>
      <tbody>
        {% for a in taillemoy %}
          <tr>
            <td class="bg-success">{{a.nom}}</td>
            <td class="bg-warning">{{a.tailleMoyenne}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
