{% extends 'base.html.twig' %}

{% block title %}
    Informations sur les nains
{% endblock %}

{% block body %}
  <style>
      .example-wrapper { margin: 1em auto; max-width: 1400px; width: 100%; font: 18px/1.5 sans-serif; }
      .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div class="example-wrapper">
    {% for mine in mines %}
      <h1 style="background-color:green"> La mine {{mine.nom}} à une profondeur de {{mine.profondeur}}  </h1> <br>
      <table class="table" style ='border:3px solid blue'>
        <thead>
          <tr>
            <th scope="row"></th>
            <th scope="row" style ='text-align:center'>Listes des nains</th>
            <th scope="row"></th>
          </tr>
          <tr>
            <th scope="row">Numéro</th>
            <th scope="row">Nom</th>
            <th scope="row">Taille</th>
          </tr>
        </thead>

        <tbody>
          {% for nain in mine.nains %}
            <tr>
              {% set inc = inc + 1 %}
              <td class="bg-primary">{{inc}}</td>
              <td class="bg-success">{{nain.nom}}</td>
              <td class="bg-warning">{{nain.taille}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br>
      {% set inc = 0 %}
    {% endfor %}
  </div>
{% endblock %}
